<!--========== ABOUT ==========-->
<section class="about section" id="about">
    <div class="container about__container grid">
        <img @fade class="about__img" src="../../assets/img/font2.jpg" alt="">
        <div class="about__data">
            <span class="section__subtitle about__initial">A propose de nous</span>
            <h2 class="section-title about__initial"> <br> </h2>
            <p class="about__description">D'origine de Hai Duong, Viet Name et Livryenne depuis 14 ans. Nous avons
                decidé de contribuer notre talent de cuisine pour notre ville. La cusine vietnamienne est légère, peu
                grasse, et utilise de nombreux légumes et herbes frais. Toutes les plats sont élaborés dans notre
                restaurant, à partir de produits de base que nous sélectionnons chaque jour nous-même.</p>
            <!-- <a href="" class="button">View our story</a> -->
        </div>
    </div>
</section>