<section class="section container contact" id="contact">
    <div class="contact__container grid">
        <div class="contact__data-phone">
            <h3 class="contact__title">Téléphone</h3>
            <i class="uil uil-phone-volume nav__icon contact__icon"></i> 09 84 34 55 57   -  
            <i class="uil uil-mobile-android nav__icon contact__icon"></i> 06 58 69 02 16
             <div class="contact__horaire">
                 <ul>
                     <li>Lundi : 10h - 22h</li>
                     <li>Mardi : 10h - 22h</li>
                     <li>Mercredi : 10h - 22h</li>
                     <li>Jeudi : 10h - 22h</li>
                     <li>Vendredi : 10h - 22h</li>
                     <li>Samedi : 10h - 22h</li>
                     <li>Dimanche : Fermer</li>
                 </ul>
             </div>
        </div>
        <div class="contact__data-location">
            <h3 class="contact__title">Adresse</h3>
            <p class="contact__subtitle contact__adresse__description">16 Place de la libération <br> 93190 Livry Gargan</p>
        </div>
    </div>
</section>
