<body>
  <header class="header scroll-header" id="header">
    <nav class="nav container">
      <a href="#home" class="nav__logo" (click)="toHome()">
        <i class="uil uil-flower logo__icon"></i> Chez Ha My
      </a>
      <div class="nav__menu" id="nav-menu">
        <ul class="nav__list grid">
          <li class="nav__item">
            <a href="#home" class="nav__link active-link" (click)="toHome()">
              <i class="uil uil-estate nav__icon"></i> Home
            </a>
          </li>
          <li class="nav__item">
            <a href="#menu" class="nav__link" (click)="toMenu()">
              <i class="uil uil-book nav__icon"></i> Menu
            </a>
          </li>
          <li class="nav__item">
            <a href="#livraison" class="nav__link" (click)="toLivraison()">
              <i class="uil uil-truck nav__icon"></i> Livraison
            </a>
          </li>
          <li class="nav__item">
            <a href="#contact" class="nav__link" (click)="toContact()">
              <i class="uil uil-phone-volume nav__icon"></i> Contact
            </a>
          </li>
        </ul>
      </div>
      <!-- Theme change button -->
      <!-- <div class="nav__btns">
          <i class="uil uil-moon change-theme" id="theme-button"></i>
          <div class="nav__toggle" id="nav-toggle">
              <i class="uil uil-apps"></i>
          </div>
      </div> -->
    </nav>
  </header>

  <main class="main">
    <app-home></app-home>
    <app-about></app-about>
    <app-services></app-services>
    <app-menu></app-menu>
    <app-livraison></app-livraison>
    <app-contact></app-contact>
    <app-footer></app-footer>
  </main>
</body>