<section class="section container livraison" id="livraison">
    <span class="section__subtitle">Livraison</span>
    <h1 class="section__title">Ne déplacez pas</h1>
    <div class="livraison__container grid">
        <div class="livraison__data-deliveroo">
            <img class="img livraison__img" src="././assets/img/livraison/deliveroologo.png" alt="">
            <h3 class="livraison__title">Commander</h3>
            <p class="title__subtile livraison__description">Commander en toute sécurité les plats Chez Ha My sur notre
                partenaire de livraison. Tous nos plats sont disponible sur le platform de notre partenaire</p>
            <a href="https://deliveroo.fr/fr/menu/paris/livry-gargan/chez-ha-my?day=today&geohash=u09y39qxpvkj&time=ASAP"
                class="button">Commander</a>
        </div>
        <div class="livraision__container-ou">
            <h1 class="livraison__ou">OU</h1>
        </div>
        <div class="livraison__data-chezhamy">
            <img class="img livraison__img" src="././assets/img/livraison/Chez_Ha_My_logo.png" alt="">
            <h3 class="livraison__title">Appeler</h3>
            <p class="title__subtile livraison__description">Chez Ha My dispose ses propre livreur. Nous sommes à votre
                dispositionpour vous renseigner et écouter votre demande</p>
            <a href="#contact" class="button" (click)="toContact()">Appeler</a>
        </div>
    </div>
</section>